body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.hero {
    background-color: #1F2937;
    padding: 5px 200px;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size:24px;
    color: #F9FAF8;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header, .left-header, .right-header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.top-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    gap: 50px;
}

.mid-section {
    height: 380px;
}

.mid-text {
    display: flex;
    justify-content: center;
    padding: 5px 200px;
}
.mid-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 200px;
}




.card {
    border: solid 2px;
    border-color: #3882F6;
    border-radius: 8px;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.info {
    max-width: 120px;
    text-align: center;
}


.top-image {
    display: flex;
    justify-content: center;
    width: max-content;
    height: 300px;
}

.top-button {
    background-color: #3882F6;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
}

/*QUOTE SECTION CSS */

.quote {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 350px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-sign {
    font-size: 18px;
    text-align: right;
    margin: 0 auto;
}


/* Footer Section CSS */

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 5px 200px;
}

/* Bottom Container CSS */

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 5px 200px;
}

.bottom-box {
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    gap: 20px;
    padding: 20px;
    width: 700px;
    align-items: center;
}

.bottom-button {
    color: white;
    background-color: #3882F6;
    padding: 8px 18px;
    border-radius: 8px;
    border: solid;
}

.bottom-para {
    font-weight: 900;
}

.bottom-para .break {
    font-weight: 200;
}

/*wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
}